@import "tailwindcss";
@source "../app/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

:root[data-mantine-color-scheme="dark"] {
  --color-scheme: dark;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  /* Background: Off-white/Light Gray for less eye strain than pure white */
  --background: #f3f4f6; /* gray-100 */
  --foreground: #111827; /* gray-900 */
  
  --card-bg: #ffffff;
  --card-border: #e5e7eb; /* gray-200 */
  
  --sidebar-bg: #ffffff;
  --sidebar-border: #e5e7eb;
}

:root[data-mantine-color-scheme="dark"] {
  --background: #f3f4f6;
  --foreground: #111827;
  --card-bg: #ffffff;
  --card-border: #e5e7eb;
  --sidebar-bg: #ffffff;
  --sidebar-border: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
